main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.cover {
  grid-column: 1 / 3;
}

figure {
  width: 100%;
  border-radius: 0 0 4px 4px;
  background: gainsboro;
  color: dimgray;
}

figure > img {
  border-radius: 4px 4px 0 0;
}

figcaption {
  padding: .5rem;
}

footer {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  background: black;
  color: white;
}

.icon-plus {
  /* box-sizing: border-box;
  width: 2rem;
  height: 2rem; */
  transform: translateY(-50%) scale(2);
  border-radius: 50%;
  background: orange;
  opacity: .75;
}
